<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="communication" type="NEXTEP.POP.Server.Configuration.CommunicationSectionHandler, NEXTEP.POP.Server" />-->
    <section name="logging" type="NEXTEP.Log.Configuration.LogSectionHandler, NEXTEP.Log"/>
  </configSections>
  <logging mode="on">
    <!-- publisher - specifies the objects that provide logging				-->
    <!--	Attributes															-->
    <!--		logging-level[0|1|2]: 0-None									-->
    <!--							  1-informational and exceptions			-->
    <!--							  2-debug									-->
    <!--		assembly: name of the assembly that provides logging			-->
    <!--		type: name of the class that processes logging data				-->
    <publisher logging-level="2" type="NEXTEP.Log.Publishers.LogFile" assembly="NEXTEP.Log" />
  </logging>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>