<div id="buttons" style="display:none">
    <div id="menubutton" class="col-xs-12 col-sm-3 col-md-3 col-centered">
        <a id="nextmenu" href="javascript:void(0)">
            <div class="thumbnail">

                <div id="bimage" class="image-cropped">

                </div>
                <div class="caption">
                    <div id="btext" class="button-text"></div>
                </div>
            </div>
        </a>
    </div>
    <div id="menubuttonv2" class="col-xs-12 col-sm-3 col-md-3 col-centered">
        <a id="nextmenu" href="javascript:void(0)">
            <div class="thumbnail">

                <div id="bimage" class="image-cropped">

                </div>
                <div class="caption">
                    <div id="btext" class="button-text"></div>
                </div>
            </div>
        </a>
    </div>
    <div id="selectone" class="col-xs-12 col-sm-3 col-md-3 col-centered">
        <a id="nextmenu" href="javascript:void(0)">
            <div class="thumbnail">
                <div id="bimage" class="image-cropped">
                    <div class="overlaycontainer"></div>
                </div>
                <div class="caption">
                    <div id="price" class="button-price"></div>
                    <div id="btext" class="button-text"></div>
                </div>
            </div>
        </a>
        <button id="iButton" type="button" class="btn popover-dismiss ibutton"></button>
    </div>
    <div id="selectonedragalong" class="col-xs-12 col-sm-3 col-md-3 col-centered">
        <a id="nextmenu" href="javascript:void(0)">
            <div class="thumbnail">
                <div id="bimage" class="image-cropped">
                </div>
                <div class="caption">
                    <div id="price" class="button-price"></div>
                    <div id="btext" class="button-text"></div>
                </div>
            </div>
        </a>
        <button id="iButton" type="button" class="btn popover-dismiss ibutton"></button>
    </div>
    <div id="selectonev2" class="col-xs-12 col-sm-3 col-md-3 col-centered">
        <a id="nextmenu" href="javascript:void(0)">
            <div class="thumbnail">
                <div id="bimage" class="image-cropped">
                </div>
                <div class="caption">
                    <div id="price" class="button-price"></div>
                    <div id="btext" class="button-text"></div>
                </div>
            </div>
        </a>
        <button id="iButton" type="button" class="btn popover-dismiss ibutton"></button>
    </div>
    <div id="selectmanyof" class="col-xs-12 col-sm-3 col-md-3 selectmanyof col-centered">
        <a id="nextmenu" href="javascript:void(0)">
            <div class="thumbnail">
                <div id="bimage" class="image-cropped">
                    <div id="check" class="button-many-unselected"></div>
                </div>
                <div class="caption">
                    <div id="btext" class="button-text"></div>
                    <div id="price" class="button-price"></div>
                </div>
            </div>
        </a>
    </div>
    <div id="selectmanyofv2" class="col-xs-12 col-sm-3 col-md-3 selectmanyof col-centered">
        <a id="nextmenu" href="javascript:void(0)">
            <div class="thumbnail">
                <div id="bimage" class="image-cropped">
                </div>
                <div class="caption">
                    <div id="btext" class="button-text"></div>
                    <div id="price" class="button-price"></div>
                    <div id="check" class="button-many-unselected"></div>
                </div>
            </div>
        </a>
    </div>
    <div id="selectne" class="col-xs-12 col-sm-3 col-md-3 selectne col-centered">
            <a id="nextmenu" href="javascript:void(0)">
                <div class="thumbnail">
                    <div id="bimage" class="image-cropped">
                        <div id="price" class="button-price"></div>
                        <div id="check" class="button-many-unselected"></div>
                    </div>
                    <div class="caption">
                        <div id="btext" class="button-text"></div>
                    </div>
                </div>
            </a>
    </div>
    <div id="lessmorev2" class="col-xs-12 col-sm-3 col-md-3 selectne col-centered">
        <div id="nextmenu" href="javascript:void(0)">
            <div class="thumbnail">
                <div class="caption">
                    <div id="btext" class="button-text"></div>
                </div>
                <div id="subButtons" class="sub-buttons" style="visibility: hidden">
                    <div id="none" class="sub-button">
                        <div id="btextnone" class="sub-button-text">none</div>
                        <div id="price0text" class="sub-button-price"></div>
                        <div id="check" class="sub-button-check" style="visibility:hidden"></div>
                    </div>
                    <div id="normal" class="sub-button">
                        <div id="check" class="sub-button-check" style="visibility:hidden"></div>
                        <div id="btextnormal" class="sub-button-text">normal</div>
                        <div id="price1text" class="sub-button-price"></div>

                    </div>
                    <div id="extra" class="sub-button">
                        <div id="btextextra" class="sub-button-text">extra</div>
                        <div id="price2text" class="sub-button-price"></div>
                        <div id="check" class="sub-button-check" style="visibility:hidden"></div>
                    </div>
                </div>
                <div id="bimage" class="image-cropped">
                </div>
            </div>
        </div>
    </div>
    <div id="lessmore" class="col-xs-12 col-sm-3 col-md-3 lessmore col-centered">
        <div id="nextmenu" href="javascript:void(0)">
            <div class="thumbnail">
                <div class="thumbnail-border">
                    <div class="sub-button-col1">
                        <div id="bimage" class="image-cropped">
                        </div>
                        <div class="caption">
                            <div id="btext" class="button-text"></div>
                        </div>
                    </div>
                    <div class="sub-button-col2">
                        <div id="subButtons" class="sub-buttons" style="visibility: hidden">
                            <div id="less" class="sub-button">
                                <div id="btextless" class="sub-button-text">
                                    less
                                </div>
                                <div id="check" class="sub-button-check" style="visibility:hidden"></div>
                            </div>
                            <div id="normal" class="sub-button">
                                <div id="btextnormal" class="sub-button-text">
                                    normal
                                </div>
                                <div id="check" class="sub-button-check" style="visibility:hidden"></div>
                            </div>
                            <div id="more" class="sub-button">
                                <div id="btextmore" class="sub-button-text">
                                    more
                                </div>
                                <div id="check" class="sub-button-check" style="visibility:hidden"></div>
                            </div>
                        </div>
                        <div id="price" class="sub-button-price"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="selectonespecial" class="col-xs-12 col-sm-3 col-md-3 selectonequantity col-centered">
        <div id="nextmenu" href="javascript:void(0)">
            <div class="thumbnail">
                <div class="sub-button-col1">
                    <div id="bimage" class="image-cropped">
                        <div id="subButtons" class="sub-buttons" style="visibility: hidden">
                            <div id="minusButton" class="selectonequantity-minus">
                                <span class="glyphicon glyphicon-minus"></span>
                            </div>
                            <div id="txtQuantity" class="selectonequantity-quantity">
                                --
                            </div>
                            <div id="plusButton" class="selectonequantity-plus">
                                <span class="glyphicon glyphicon-plus"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sub-button-col2">
                    <div class="caption">
                        <div id="btext" class="button-text"></div>
                        <div id="price" class="button-price"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="orderreview">
        <div class="order-review-quantity">
            <button id="quantMinus" class="order-review-quantity-button order-review-quantity-minus"><span class="glyphicon glyphicon-minus"></span></button>
            <div id="quantity" class="order-review-quantity-text"></div>
            <button id="quantPlus" class="order-review-quantity-button order-review-quantity-plus"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
        <div id="bimage" class="order-review-image">
        </div>
        <div class="order-review-text">
            <div id="receipttext" class="order-review-itemtext"></div>
            <div id="modtext" class="order-review-modtext"></div>
        </div>
        <div class="order-review-amount">
            <div id="amountdue" class="order-review-amount-text"></div>
        </div>
    </div>
</div>
