<div id="buttons" style="display:none">
    <div id="menubutton" class="col-xs-12 col-sm-3 col-md-3 col-centered">
        <a id="nextmenu" href="javascript:void(0)">
            <div class="thumbnail">
                <div class="caption">
                    <div id="btext" class="button-text"></div>
                </div>
                <div id="bimage" class="image-cropped">
                </div>
            </div>
        </a>
    </div>
    <div id="selectone" class="col-xs-12 col-sm-3 col-md-3 col-centered">
        <a id="nextmenu" href="javascript:void(0)">
            <div class="thumbnail">
                <div class="caption">
                    <div id="btext" class="button-text"></div>
                </div>
                <div id="bimage" class="image-cropped">
                    <div id="price" class="button-price"></div>
                </div>
            </div>
        </a>
        <button id="iButton" type="button" class="btn popover-dismiss ibutton"></button>
    </div>
    <div id="selectmanyof" class="col-xs-12 col-sm-3 col-md-3 selectmanyof col-centered">
        <a id="nextmenu" href="javascript:void(0)">
            <div class="thumbnail">
                <div class="caption">
                    <div id="btext" class="button-text"></div>
                </div>
                <div id="bimage" class="image-cropped">
                    <div id="price" class="button-price"></div>
                    <div id="check" class="button-many-unselected"><span class="glyphicon glyphicon-ok"></span></div>
                </div>

            </div>
        </a>
        <button id="iButton" type="button" class="btn popover-dismiss ibutton"></button>
    </div>
    <div id="selectne" class="col-xs-12 col-sm-3 col-md-3 selectne col-centered">
        <div id="nextmenu" href="javascript:void(0)">
            <div class="thumbnail">
                <div class="caption">
                    <div id="btext" class="button-text"></div>
                </div>
                <div id="bimage" class="image-cropped">
                    <div id="subButtons" class="sub-buttons" style="visibility: hidden">
                        <div id="none" class="sub-button">
                            <div id="check" class="sub-button-check" style="visibility:hidden"><span class="glyphicon glyphicon-ok"></span></div>
                            <div id="btextNone" class="sub-button-text">
                                none
                            </div>
                        </div>
                        <div id="normal" class="sub-button">
                            <div id="check" class="sub-button-check" style="visibility:hidden"><span class="glyphicon glyphicon-ok"></span></div>
                            <div id="btextNormal" class="sub-button-text">
                                normal
                            </div>
                        </div>
                        <div id="extra" class="sub-button">
                            <div id="check" class="sub-button-check" style="visibility:hidden"><span class="glyphicon glyphicon-ok"></span></div>
                            <div id="btextExtra" class="sub-button-text">
                                extra
                            </div>
                        </div>
                    </div>
                    <div id="price" class="button-price"></div>
                </div>

            </div>
        </div>
        <button id="iButton" type="button" class="btn popover-dismiss ibutton"></button>
    </div>
    <div id="orderreview">
        <div class="order-review-quantity">
            <button id="quantMinus" class="order-review-quantity-button order-review-quantity-minus"><span class="glyphicon glyphicon-minus"></span></button>
            <div id="quantity" class="order-review-quantity-text"></div>
            <button id="quantPlus" class="order-review-quantity-button order-review-quantity-plus"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
        <div class="order-review-text">
            <div id="receipttext" class="order-review-itemtext"></div>
            <div id="modtext" class="order-review-modtext"></div>
        </div>
        <div class="order-review-amount">
            <div id="amountdue" class="order-review-amount-text"></div>
        </div>
    </div>
</div>
